*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
html{
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;}
.firma{
    position: relative;
    left: 190px;
    color: var(--color-operador);
    font-weight: bolder;}
.firma>a{
    color: var(--color-texto);
    filter: brightness(130%);
    text-decoration: none;}
.mode {
    fill: var(--color-operador);
    width: 50px;
    position: relative;
    right: 50px;
    top: 50px;}
.mode:hover{
    cursor: pointer;
    filter:brightness(125%)}
.light{
    --color-numero: #2EC1AC;
    --color-igual:#3E978B;
    --color-pantalla:#EFF48E;
    --color-operador: #D2E603;
    --color-texto:#000;
    background: rgb(46,193,172);
    background: linear-gradient(325deg, rgba(239,244,142,1) 29%, rgba(250,252,208,1) 56%);
    background-repeat: no-repeat;}
.dark{
    --color-numero: #3B185F;
    --color-igual:#2A0944;
    --color-pantalla:#FEC260;
    --color-operador: #f8a011;
    background: rgb(0,0,0);
    background: linear-gradient(332deg, rgba(0,0,0,1) 32%, rgba(41,41,41,1) 58%, rgba(70,70,70,1) 76%);
    --color-texto:#ddd;}
.calculadora {
    margin: 5vh auto;
    width: 70vw;
    max-width: 400px;
    height: 90vh;
    max-height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap:10px;
    color: var(--color-texto);}
.glass {
    font-size: clamp(1rem, 5vw, 2.5rem);
    font-weight: bolder;
    border: solid 1px #000;
    border-radius: 50px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );}
.display {
    background-color: var(--color-pantalla);
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
    align-items: end;
    height: 6rem;
    font-size:clamp(1rem, 5vw, 2rem);}
.display>div{
    margin-right: 1rem;}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-texto);}
    .boton:hover{
        cursor: pointer;
        filter: brightness(125%);}
    .boton:active{
        transform: translate(-1px, 1px);
        box-shadow: -3px 3px 5px #ccc;
        filter: brightness(85%);}
.ult-num {
    font-size: 15px;
    background-color: var(--color-pantalla);}
.nue-num{
    max-width: 200px;
    overflow: hidden;}
.clear {
    background-color: var(--color-igual);
    grid-column:4;
    grid-row:1;}
.uno {
    background-color: var(--color-numero);
    grid-column:1;
    grid-row:2;}
.dos {
    background-color: var(--color-numero);
    grid-column:2;
    grid-row:2;}
.tres {
    background-color: var(--color-numero);
    grid-column:3;
    grid-row:2;}
.cuatro {
    background-color: var(--color-numero);
    grid-column:1;
    grid-row:3;}
.cinco {
    background-color: var(--color-numero);
    grid-column:2;
    grid-row:3;}
.seis {
    background-color: var(--color-numero);
    grid-column:3;
    grid-row:3;}
.siete {
    background-color: var(--color-numero);
    grid-column:1;
    grid-row:4;}
.ocho {
    background-color: var(--color-numero);
    grid-column:2;
    grid-row:4;}
.nueve {
    background-color: var(--color-numero);
    grid-column:3;
    grid-row:4;}
.cero {
    background-color: var(--color-numero);
    grid-column:1;
    grid-row:5;}
.division {
    background-color:var(--color-operador);
    grid-column:4;
    grid-row:2;}
.producto{
    background-color: var(--color-operador);
    grid-column:4;
    grid-row:3;}
.suma {
    background-color:var(--color-operador);
    grid-column:4;
    grid-row:4;}
.resta{
    background-color:var(--color-operador);
    grid-column:4;
    grid-row:5;}
.enter{
    background-color:var(--color-igual);
    grid-column:2/4;
    grid-row:5;}